<a href="https://colab.research.google.com/github/ovozzx/Machine-Learning/blob/master/%5BDacon%5D%EC%84%9C%EC%9A%B8%EC%8B%9C_%EB%94%B0%EB%A6%89%EC%9D%B4_%EC%9E%90%EC%A0%84%EA%B1%B0_%EC%9D%B4%EC%9A%A9_%EC%98%88%EC%B8%A1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## 💡 각 날짜의 1시간 전의 기상상황을 활용 하여 따릉이 대여수를 예측!

# 0. 라이브러리(필요한 도구) 불러오기

In [2]:
import pandas as pd
import numpy as np

from sklearn.metrics import roc_auc_score
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import GridSearchCV
from tensorflow.keras.wrappers.scikit_learn import KerasClassifier
from keras.callbacks import EarlyStopping
from sklearn.ensemble import RandomForestRegressor



import matplotlib.pyplot as plt
import seaborn as sns

import warnings
warnings.filterwarnings("ignore")

# 1. 데이터 로딩

### 💡 x = 서울시 마포구의 날짜별&시간별 기상상황,     y = 따릉이 대여 수 데이터

✔️ feature

- id : 고유 id

- hour : 시간

- temperature : 기온

- precipitation : 비가 오지 않았으면 0, 비가 오면 1

- windspeed : 풍속(평균)

- humidity : 습도

- visibility : 시정(視程), 시계(視界)(특정 기상 상태에 따른 가시성을 의미)

- ozone : 오존

- pm10 : 미세먼지(머리카락 굵기의 1/5에서 1/7 크기의 미세먼지)

- pm2.5 : 미세먼지(머리카락 굵기의 1/20에서 1/30 크기의 미세먼지)

✔️ count : 시간에 따른 따릉이 대여 수

In [3]:
train = pd.read_csv('train.csv') 
test = pd.read_csv('test.csv')

In [4]:
train.head()

   id  hour  hour_bef_temperature  ...  hour_bef_pm10  hour_bef_pm2.5  count
0   3    20                  16.3  ...           76.0            33.0   49.0
1   6    13                  20.1  ...           73.0            40.0  159.0
2   7     6                  13.9  ...           32.0            19.0   26.0
3   8    23                   8.1  ...           75.0            64.0   57.0
4   9    18                  29.5  ...           27.0            11.0  431.0

[5 rows x 11 columns]

In [5]:
test.head()

   id  hour  ...  hour_bef_pm10  hour_bef_pm2.5
0   0     7  ...           44.0            27.0
1   1    17  ...           49.0            36.0
2   2    13  ...           36.0            28.0
3   4     6  ...           52.0            38.0
4   5    22  ...           18.0            15.0

[5 rows x 10 columns]

# 2. EDA

# 3. 데이터 확인

### info()

In [6]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1459 entries, 0 to 1458
Data columns (total 11 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   id                      1459 non-null   int64
 1   hour                    1459 non-null   int64
 2   hour_bef_temperature    1457 non-null   float64
 3   hour_bef_precipitation  1457 non-null   float64
 4   hour_bef_windspeed      1450 non-null   float64
 5   hour_bef_humidity       1457 non-null   float64
 6   hour_bef_visibility     1457 non-null   float64
 7   hour_bef_ozone          1383 non-null   float64
 8   hour_bef_pm10           1369 non-null   float64
 9   hour_bef_pm2.5          1342 non-null   float64
 10  count                   1459 non-null   float64
dtypes: float64(9), int64(2)
memory usage: 125.5 KB

In [7]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 715 entries, 0 to 714
Data columns (total 10 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   id                      715 non-null    int64
 1   hour                    715 non-null    int64
 2   hour_bef_temperature    714 non-null    float64
 3   hour_bef_precipitation  714 non-null    float64
 4   hour_bef_windspeed      714 non-null    float64
 5   hour_bef_humidity       714 non-null    float64
 6   hour_bef_visibility     714 non-null    float64
 7   hour_bef_ozone          680 non-null    float64
 8   hour_bef_pm10           678 non-null    float64
 9   hour_bef_pm2.5          679 non-null    float64
dtypes: float64(8), int64(2)
memory usage: 56.0 KB

### describe()

In [10]:
train.describe()

                id         hour  ...  hour_bef_pm2.5        count
count  1459.000000  1459.000000  ...     1342.000000  1459.000000
mean   1105.914325    11.493489  ...       30.327124   108.563400
std     631.338681     6.922790  ...       14.713252    82.631733
min       3.000000     0.000000  ...        8.000000     1.000000
25%     555.500000     5.500000  ...       20.000000    37.000000
50%    1115.000000    11.000000  ...       26.000000    96.000000
75%    1651.000000    17.500000  ...       37.000000   150.000000
max    2179.000000    23.000000  ...       90.000000   431.000000

[8 rows x 11 columns]

In [11]:
test.describe()

                id        hour  ...  hour_bef_pm10  hour_bef_pm2.5
count   715.000000  715.000000  ...     678.000000      679.000000
mean   1056.854545   11.472727  ...      36.930678       24.939617
std     625.574471    6.928427  ...      12.641503       10.075857
min       0.000000    0.000000  ...       9.000000        7.000000
25%     507.000000    5.500000  ...      28.000000       17.000000
50%    1046.000000   11.000000  ...      35.000000       24.000000
75%    1616.500000   17.000000  ...      45.000000       31.000000
max    2177.000000   23.000000  ...      94.000000       69.000000

[8 rows x 10 columns]

### 결측치 확인

In [8]:
train.isnull().sum()

id                          0
hour                        0
hour_bef_temperature        2
hour_bef_precipitation      2
hour_bef_windspeed          9
hour_bef_humidity           2
hour_bef_visibility         2
hour_bef_ozone             76
hour_bef_pm10              90
hour_bef_pm2.5            117
count                       0
dtype: int64

In [9]:
test.isnull().sum()

id                         0
hour                       0
hour_bef_temperature       1
hour_bef_precipitation     1
hour_bef_windspeed         1
hour_bef_humidity          1
hour_bef_visibility        1
hour_bef_ozone            35
hour_bef_pm10             37
hour_bef_pm2.5            36
dtype: int64

# 4. 데이터 전처리

### 결측치  처리

fillna

In [12]:
train.fillna(0,inplace = True)
test.fillna(0,inplace = True)

# 5. 모델 정의 및 학습

In [13]:
train_x = train.drop(['count'],axis = 1)
train_y = train['count']

In [14]:
model=RandomForestRegressor(n_estimators=100)
model.fit(train_x,train_y)

RandomForestRegressor()

In [15]:
pred = model.predict(test)

In [18]:
pred[:5]

array([ 96.44, 240.46,  96.87,  28.38,  63.06])

# 6. 제출 파일 생성

In [16]:
submission = pd.read_csv('submission.csv')
submission['count'] = pred
submission.to_csv('베이스라인.csv',index = False)

# 7. 성능 평가